.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  padding-top: 20px;
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search {
  padding: 5px 0 20px 0;
}

tr {
  color: #5b5757;
}

.results {
  padding-top: 15px;
}

.footer {
  padding-top: 20px;
  text-align: center;
}
.cardBox {
  display: flex;
  justify-content: space-around;
}

.card {
  width: 320px;
  margin-top: 2%;
  text-align: center;
}

/* =========================== */
.image {
  width: 350px;
  height: 350px;
  margin-left: 37%;
  border-radius: 50%;
}
.card-img-top {
  width: 245px;
  height: 150px;
  border-radius: 5%;
  align-self: center;
}
h3 {
  color: red;
  padding: 12px;
}
.footAddress {
  text-align: center;
  list-style: none;
}
.table {
  width: 950px;
  height: auto;
  text-align: center;
  font-size: smaller;
  margin: auto;
  margin-bottom: 25px;
}
